<h1>Update Pet</h1>

<h2>Edits for <%=@pet.name%></h2>


<form action="/pets/<%=@pet.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<label><p>Edit the pet's name:</p></label>
<input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
<br>
<br>
Select an existing owner or create a new one below:

<h3>Existing Owner:</h3>

<% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" 
    id="<%=owner.id%>" value="<%=owner.id%>"
    <%= 'checked' if @pet.owner==(owner) %> >
    <%= owner.name %>
    <br>
<% end %>

<h3>Create a new owner:</h3>
    <input type="text" name="owner[name]"
    id="owner_name">

<br><br>

<input type="submit" name="submit" id="submit" value="Update Pet">

</form>
